.color-green {
  color: var(--green, #18D3A7);
}

.color-red {
  color: #ff2828;
}

.color-white {
  color: #FFFFFF;
}

.color-black {
  color: #000;
}

.font-size-32px {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.app {
  background: #FFF;
  min-height: 100%;
}

.text-center {
  text-align: center;
}

.form {
  text-align: left;
}

#header {
  padding: 16px;
  border-bottom: 1px solid #c6c9cf;
}

#app-contents {
  background: #f6f4f0;
}